
.blue {
  background-color: #006ead;
  text-align: center;
  min-height: 25em;
}

.black {
  color: white;
  background-color: #000;
  min-height: 25em;
}

.death {
  text-align: center;
  background-color: #002751;
  color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin: 0 5em;
  padding: 1.5em 0 2em;
}

.okay {
  text-align: center;
  font-family: "Archivo Black";
}

.anybody {
  font-family: "Archivo Black";
}

.lifetime {
  font-family: Vollkorn, serif;
  margin: 0;
}

.less {
  font-family: Vollkorn, serif;
  margin: 0;
}

.cite {
  font-family: Vollkorn, serif;
  margin-bottom: 0;
}

@media only screen and (min-width: 15em) {

  .okay {
    text-align: left;
  }

}

@media only screen and (min-width: 29em) {

  .okay {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .blue {
    background-color: #002751;
    min-height: 15em;
  }

  .black {
    background-color: #002751;
    color: black;
  }

  body {
    background-color: #002751;
  }

}
